//a#send-tiket-to-co.card.text-white.bg-success.mb-3(style="cursor:pointer")
//  .card-body
//    h5.text-center.card-text="Отправить заявку в ЦО(1111@rgs.ru)"
a#send-tiket-taxi.card.text-white.bg-success.mb-3(style="cursor:pointer")
  .card-body
    h5.text-center.card-text="Заказ такси"
//button#send-tiket-to-co.border.border-primary.mt-2.btn.btn-success.center-block(style="margin-bottom: 23px; width:100%;")